page-find-hazards {
 .map-container3 {
    width: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
  }

  #map3 {
    width: 100%;
    height: 100%;
  }

  .scroll-content {
    overflow: hidden;
  }
}
